<% content_for :page_title do %>
  <%= Spree.t(:new_bank) %>
<% end %>



<div data-hook="admin_bank_new_form">
  <%= form_for [:admin, @bank] do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div data-hook="admin_bank_new_form_buttons">
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </div>
  <% end %>
</div>

